@import '../../assets/scss/setting';

.post-section {
  min-width: $min-screen-size;
}

.post-container {
  border-bottom: 1px solid $section-border-color;
  margin-bottom: 52px;
  padding-bottom: 88px;

  &.is-new-post {
    border:none;
    padding-bottom: 160px;
    margin-bottom: 0;
  }
}

.post-body {
  padding-top: 13px;
  padding-bottom: 38px;
}

.post-date {
  letter-spacing: .2em;
  font-size: 20px;
  display: block;
  margin-bottom: 15px;
}

.post-date-padded {
  margin-top: 120px;
}

.post-form-input {
  width: 100%;
  resize: none;
  border: 1px solid $post-form-border-color;

  &:focus {
    outline: none;
  }
}

.post-form-title {
  padding: 25px 20px;
}

.post-title,
.post-form-title {
  font-family: $base-jp-font-reg;
  font-size: 40px;
  letter-spacing: .1em;
  line-height: 1.65;
  margin-bottom: 35px;
  font-weight: bold;
}

.post-form-title {
  min-height: 150px;
}

.post-content,
.post-form-content {
  font-family: $base-jp-font-reg;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .109em;
  line-height: 2.25;
  margin-top: 48px;
}

.post-form-content {
  padding: 10px 23px 20px;
  min-height: 395px;
  margin-top: 0;
}

.post-dropzone {
  position: relative;
  margin-bottom: 35px;
}

.post-dropzone-overlay {
  position: absolute;
  background: rgba($dropzone-bg, .45);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  transition: .4s;

  &.is-disabled {
    pointer-events: none;
  }

  &:hover {
    opacity: 1;
  }
}

.post-dropzone-overlay p {
  color: $base-font-color-hover;
  font-size: 18px;
}

.post-input {
  width: 1px;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  height: 1px;
}

.post-form-errors {
  padding: 22px 0;
}

.post-form-message {
  border: 1px solid transparent;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
}

.post-form-error {
  border-color: $form-error-border;
  background-color: $form-error-bg;
  color: $form-error-color;
}

.post-form-success {
  color: $form-success-color;
  background-color: $form-success-bg;
  border-color: $form-success-border;
}

.post-form-message:not(:last-of-type) {
  margin-bottom: 15px;
}

.post-comment-section {
  min-width: $min-screen-size;
  padding-bottom: 150px;
}

.post-comment-item {
  background: $comment-bg;
  padding: 48px 40px;
  margin-bottom: 50px;
}

.post-comment-content {
  font-family: $base-jp-font-reg;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .109em;
  line-height: 2.25;
  margin-bottom: 22px;
}

.post-comment-list {
  margin-top: 32px;
}

.post-comment-date {
  font-family: $base-font-bold;
  font-size: 16px;
  letter-spacing: .1em;
}

.post-comment-form-text {
  width: 100%;
  border: 1px solid $input-border-color;
  padding: 42px 40px;
  letter-spacing: .14em;
  height: 200px;
  font-size: 18px;
  resize: none;
  margin-bottom: 40px;

  &:focus {
    outline: none;
  }
}

.post-comment-button {
  margin: 0;
  max-width: 210px;
}
