@import '../assets/scss/setting';

.footer-info {
  background: $footer-info-bg;
  padding: 78px 0 64px;
}

.footer-image {
  margin-bottom: 40px;
}

.footer-info p {
  color: $footer-text-color;
  font-family: $base-jp-font-reg;
  font-size: 16px;
  letter-spacing: .02em;
  font-weight: bold;
  max-width: 405px;
  max-width: 410px;
  line-height: 2;
}

.footer-copyright {
  background: $footer-copyright-bg;
  color: $footer-text-color;
  text-align: center;
  padding: 32px 0;
}

.footer-copyright p {
  font-size: 16px;
  letter-spacing: .075em;
}

.footer-back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 12px 16.5px;
  text-align: center;
  background: $back-to-top-bg;
  transition: .3s;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;

  &.is-active {
    opacity: 1;
    pointer-events: auto;
  }

  &.is-sticky {
    bottom: 88px;
  }

  &:hover {
    opacity: .75;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.footer-back-to-top p {
  letter-spacing: .15em;
  font-family: $base-font-bold;
  margin-top: 4px;
}
