@import '../assets/scss/setting';

.slider {
  position: relative;
  overflow: hidden;
  min-width: $min-screen-size;
  height: 540px;

  &.is-hidden {
    opacity: 0;
  }
}

.slider-list {
  transition: .4s;
}

.slider-image img {
  width: 100%;
}

.slider-item {
  position: relative;
  float:left;
}

.slider-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: .3s;
  border: none;
  z-index: 20;

  &:hover,
  &.is-disabled {
    opacity: .75;
  }

  &.is-disabled {
    pointer-events: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.slider-arrow-right {
  right: 50px;
}

.slider-arrow-left {
  left: 50px;
}

.slider-dots {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-dots-item {
  display: inline-block;
  line-height: 0;
  font-size: 0;
}

.slider-dots-button {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: $slider-dot-bg;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s;

  &.is-active {
    background: $slider-dot-active-bg;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.slider-dots-item:not(:last-of-type) {
  margin-right: 10px;
}

.slider-content {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  max-width: 1120px;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.slider-header {
  font-family: $base-jp-font-reg;
  font-size: 60px;
  line-height: 1.55;
  max-width: 580px;
  text-align: right;
  letter-spacing: .02em;
  color: $slider-header-color;
  overflow: hidden;
  padding-right: 18px;
  //transition: .4s;
  //transform: translateX(150%);

  &.is-active {
    transform: translateX(0);
  }
}

.slider-header span {
  background: $slider-header-bg;
  padding: 10px .5px;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  box-shadow: 18px 0 0 $slider-header-bg, -10px 0 0 $slider-header-bg;
}

.slider-time {
  font-size: 28px;
  letter-spacing: .19em;
  margin-top: 18px;
  margin-right: -4px;
}
