@import '../../assets/scss/setting';

.modal-form {
  min-width: $min-screen-size;
  background: $login-section-bg;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  padding: 78px 0 152px;
  transition: opacity .15s linear;
  z-index: 25;

  &.is-active {
    animation: .5s user-modal-show linear;
    -webkit-animation: .5s user-modal-show linear;
  }
}

@-webkit-keyframes user-modal-show {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  50% {
    opacity: 1;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes user-modal-show {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  50% {
    opacity: 1;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-form-content {
  width: 460px;
  margin: 0 auto;
}

.modal-form-header {
  font-family: $base-font-bold;
  font-size: 30px;
  letter-spacing: .09em;
}

.modal-form-label {
  display: block;
  font-size: 18px;
  letter-spacing: .1em;
  margin-bottom: 2px;
}

.modal-form-input {
  width: 100%;
  border: 1px solid $input-border-color;
  height: 60px;
  padding: 0 18px;
  font-size: 18px;

  &:focus {
    outline: none;
  }
}

.modal-form-button {
  width: 100%;
  margin-bottom: 35px;
}

.modal-form-group {
  margin-bottom: 18px;
}

.modal-form-action {
  font-size: 18px;
  font-family: $base-font-bold;
  letter-spacing: .1em;
  text-align: center;
  padding-left: 10px;
}

.modal-form-link {
  margin-left: 7px;
  letter-spacing: .1em;
  transition: .3s;
  cursor: pointer;

  &:hover {
    color: $base-font-color-hover;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.modal-form-errors {
  padding: 22px 0;
}

.modal-form-message {
  border: 1px solid transparent;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
}

.modal-form-error {
  border-color: $form-error-border;
  background-color: $form-error-bg;
  color: $form-error-color;
}

.modal-form-success {
  color: $form-success-color;
  background-color: $form-success-bg;
  border-color: $form-success-border;
}

.modal-form-message:not(:last-of-type) {
  margin-bottom: 15px;
}
